body {
    font-family: "roboto", sans-serif;
}

@media only screen and (max-width: 600px) {
    .cabecalho {
        width: 100%!important;
    }
    .logo {
        width: 100%!important;
    }
    li {
        max-width: 100%!important;
    }
    .explicacao {
        max-width: 100%!important;
    }
    .explicacaofinal {
        max-width: 100%!important;
    }
    .botoes {
        width: 100%!important;
    }
    .acertos {
        max-width: 100%!important;
    }
    .mapa {
        max-width: 100%!important;
    }
}

.logo {
    width: 60%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

img {
    max-width:20%;
    height:auto;
    margin:10px;
    display:flex;
}

.mapa {
    display: none;
    width:60%;

}

.cabecalho {
    display: inline-block;
    background-color:orange;   
    text-align: center;
    width:60%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size:25px;
    font-weight: 800;
    color:white;
    border-radius: 10px;

}

ul {
    overflow: hidden;
    border-radius: 10px;
}

li  {
    background-color:#f8f8f8;   
    margin:5px;
    max-width: 60%;
    list-style-type:none;
    font-size:15px;
    display: block;
    margin-left: -25px;
    padding:5px;
    padding-left:10px;
    font-weight: 600;
    border-radius: 10px;
}

li:hover {
    background-color: #899499;
    color:white;
    cursor:pointer;
}

li.clicked{
    background-color:#f75110;
    color:white;
    cursor:pointer;
}


li.clicked.correta{
    background-color:#c5fd5d;
    color:white;
    cursor:pointer;
}

.erroouacerto {
    display:inline;
    justify-content: center;
    max-width:10%;
    font-size:20px;
    font-weight: 800;
    border-radius: 10px;
}

.explicacao {
    display:none;
    justify-content: center;
    max-width:60%;
    font-size:15px;
    font-weight: 500;
    margin-bottom: 10px;
    border-radius: 10px;
    padding:5px;
}

.explicacaofinal {
    display:flex;
    justify-content: center;
    max-width:60%;
    font-size:15px;
    font-weight: 500;
    margin-bottom: 10px;
    border-radius: 10px;
    padding:5px;
}

.botoes {
    display: none;
    width: 60%;
    gap: 5px; 
    justify-content: center;
}

.proxima {
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 5%;
    height:auto;
    background-color: orange;
    padding: 5px;
    color: white;
    font-weight: 800;
    justify-content: center;
    border-radius: 10px;

}

.anterior {
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 5%;
    height:auto;
    background-color: orange;
    padding: 5px;
    color: white;
    font-weight: 800;
    justify-content: center;
    border-radius: 10px;

}


a {
    text-decoration: none;
    display: contents;
}

.botao {
    text-decoration: none;
    display:flex;
    text-decoration: none;
    color:white;
    width:100%;
    height:100%;
    justify-content: center;
}

.acertos {
    display:block;
    justify-content: center;
    max-width:60%;
    font-size:20px;
    font-weight: 800;
    padding:5px;
}

.home {
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 60%;
    height:auto;
    background-color: orange;
    padding: 5px;
    color: white;
    font-weight: 800;
    border-radius: 10px;

}